# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.properties

# Android Studio / IntelliJ
.idea/
*.iml
local.properties

# APK / AAB
*.apk
*.aab
*.ap_

# Generated
app/release/
app/debug/
gen/

# Signing
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db
